= simple_form_for @provider do |form|
  .controls-row
    .span2= form.input :title, :input_html=>{:class=>'input-mini'}
    .span3= form.input :last_name, :input_html=>{:class=>'input-medium'}
    .span3= form.input :first_name, :input_html=>{:class=>'input-medium'}
    .span3= form.input :middle_name, :input_html=>{:class=>'input-medium'}

  .controls-row
    .span2= form.input :degree, :input_html=>{:class=>'input-mini'}
    .span3= form.input :position, :input_html=>{:class=>'input-medium'}
    .span3= form.input :ident, :input_html=>{:class=>'input-medium'}, :label=>'Provider ID'

  = form.error :base
  = form.button :submit, class: 'btn btn-primary'
  = link_to "Cancel", request.referer,  class: 'btn'
