= render 'shared/form_header'
= simple_fields_for @record do |form|
  - available_labs.each do |group, services|
    .span3
      .lab_group= group
      = render partial: 'lab_results/select', collection: services, as: :service
  .row-fluid
  %hr
  = form.input :comments