- provider = @prescription.provider || current_user
- if @prescription.errors[:caution].any?
  .errorExplanation
    %p
      Consider warnings and cautions before overriding them.
      %br
      %span.emphasis Errors
      cannot be overridden and must be corrected.
    %label{:for => "override"} Override warnings?
    %input#override{:name => "override_warning", :type => "checkbox", :value => "1"}
= simple_form_for @prescription do |form|
  = hidden_field(:prescription, :patient_id)
  #rx-main
    = "Age: #{@patient.age_human}, Weight: #{@weight || "--"} kg, "
    = "Height: #{@height || "--"} cm, BSA: #{@bsa || "--"} m<sup>2</sup>".html_safe
    = form.input :date, as: :string
    = form.association :provider
    = form.input :weight, label: 'Patient weight'
    = form.input :height, label: 'Patient height'
    = form.input :confirmed
    = form.input :void
  #prescription-items
    = form.simple_fields_for :prescription_items do |builder|
      = render 'prescription_items/form', f: builder
  = form.button :submit, class: 'btn btn-primary'
  = link_to "Cancel", request.referer,  class: 'btn'
