- visit = arv_regimen
= simple_fields_for visit do |form|
  = form.input :reg_zidovudine, label: 'zidovudine'
  = form.input :reg_stavudine, label: 'stavvudine'
  = form.input :reg_lamivudine , label: 'lamivudine'
  = form.input :reg_nevirapine , label: 'nevirapine'
  = form.input :reg_efavirenz, label: 'efavirenz'
  = form.input :reg_kaletra, label: 'kaletra'
%p Remember to add JS validation for ARVs, mainly for ZDV/stavudine
