- visit = arv_regimen
= simple_fields_for visit do |form|
  .controls-row
    .span2= form.input :reg_zidovudine, label: 'zidovudine'
    .span2= form.input :reg_stavudine, label: 'stavudine'
  .controls-row
    .span2= form.input :reg_lamivudine , label: 'lamivudine'
    .span2= form.input :reg_didanosine, label: 'didanosine'
  .controls-row
    .span2= form.input :reg_nevirapine , label: 'nevirapine'
    .span2= form.input :reg_efavirenz, label: 'efavirenz'
    .span2= form.input :reg_kaletra, label: 'kaletra'
  .controls-row
    .span4= form.input :arv_regimen, label: 'ARV regimen'
%p Remember to add JS validation for ARVs, mainly for ZDV/stavudine
