- visit = @record
- patient = @record.patient
- @patient = patient
- puts "In form, @patient=#@patient"
- puts "In form, @record =#{@record.attributes}"
-#= render(:partial => '/shared/medinfo', :object => patient)
-#= render(:partial => 'shared/problem_list', :object => patient )
= simple_fields_for visit do |form|
  = patient_name_link(patient)
  %fieldset
    %legend Visit info
    = form.input :date
    = form.input :next_visit, label: 'Next visit (add js buttons to give choices)'
    = form.input :weight
    = form.input :provider
    = form.input :newpt, label: 'New patient?'
    = form.input :adm, label: 'Admitted?'


  %fieldset
    %legend Vital Signs
    = form.input :weight
    = form.input :height
    = form.input :head_circ
    = form.input :mid_arm_circ
    = form.input :temperature
    = form.input :resp_rate
    = form.input :heart_rate
    = form.input :sbp
    = form.input :dbp

  %fieldset
    %legend Signs and Symptoms
    = form.input :sx_wt_loss, label: "weight loss"
    = form.input :sx_diarrhea, label: "diarrhea"
    = form.input :sx_headache, label: "headache"
    = form.input :sx_fever, label: "fever"
    = form.input :sx_numbness, label: "numbness"
    = form.input :sx_ear_pain_disch, label: "ear pain, disch"
    = form.input :sx_nausea, label: "nausea"
    = form.input :sx_rash, label: "rash"
    = form.input :sx_vomiting, label: "vomiting"
    = form.input :sx_cough, label: "cough"
    = form.input :sx_night_sweats, label: "night sweats"
    = form.input :sx_visual_prob_new, label: "new visual prob"
    = form.input :sx_pain_swallowing, label: "pain swallowing"
    = form.input :sx_short_breath, label: "dyspnea"
    = form.input :sx_other, label: "Other"
  %fieldset
    %legend History
    = form.input :hpi, label: "History of present illness"
  %fieldset
    %legend Physical Exam
    %p.form_instruction Tick box if this part of exam is normal.
    %table
      %tr{:valign => "top"}
        = phys_findings_column(%w(scalp conjunct eyes ears mouth nose))
        = phys_findings_column(%w(chest heart abd liver spleen))
        = phys_findings_column(%w(skin lymph extr neuro genitalia tanner))
    = form.input :phys_exam
    %br
    = text_area 'visit', 'phys_exam', {:rows => '1', :cols => '70' }
  %fieldset
    %legend Assessment and Diagnosis
    = form.input :dx_hiv, label: "HIV"
    = form.input :dx_tb_pulm, label: "pulmonary TB"
    = form.input :dx_malaria, label: "malaria"
    = form.input :dx_uri, label: "uri"
    = form.input :dx_acute_ge, label: "acute_ge"
    = form.input :dx_otitis_media_acute, label: "otitis_media_acute"
    = form.input :dx_otitis_media_chronic, label: "otitis_media_chronic"
    = form.input :dx_thrush, label: "thrush"
    = form.input :dx_tinea_capitis, label: "tinea_capitis"
    = form.input :dx_scabies, label: "scabies"
    = form.input :dx_parotitis, label: "parotitis"
    = form.input :dx_dysentery, label: "dysentery"
    = form.input :dx, label: 'Other diagnoses'
    %br
    = form.input :assessment_stable, label: "Stable"
    = form.input :assessment_oi, label: "Active OI"
    = form.input :assessment_drug_toxicity, label: "Drug toxicity"
    = form.input :assessment_nonadherence, label: "Nonadherence"

  %fieldset
    %legend Dx2
    = diagnosis_check_boxes(@dx_fields)
  %fieldset
    %legend Other
    = form.input :development
    = form.input :diet_breast
    = form.input :diet_breastmilk_substitute
    = form.input :diet_pap
    = form.input :diet_solids

    = form.input :meds
    = form.input :plan
    = form.input :comments

    = form.input :anti_tb_status
  %fieldset
    %legend HIV related
    = form.input :hiv_stage
    = form.input :arv_status
    = form.input :arv_missed
    = form.input :arv_missed_week
    = render(:partial => 'arv_regimen', object: visit )

%p Add JS validation for HIV pts
