- patient = @visit.patient
%fieldset
  %legend= "Current information for #{patient_name_link(patient)}".html_safe
  = render(:partial => '/shared/medinfo', :object => patient, as: :patient)
= render(:partial => 'shared/problem_list', :object => patient )
= simple_form_for @visit, {url: {patient_id: patient.id} } do |form|
  %fieldset
    %legend Visit info
    .controls-row.controls
      .span3.input-mini= form.input :date, as: :string, :input_html=>{:class=>'input-medium'}
      .span3= form.association :provider
      .span2= form.input :scheduled, label: 'Scheduled?', :input_html=>{:class=>'input-mini'}
      .span2= form.input :newpt, label: 'New patient?', :input_html=>{:class=>'input-mini'}
      .span1= form.input :adm, label: 'Admitted?', :input_html=>{:class=>'input-mini'}

  %fieldset
    %legend Vital Signs
    .controls-row.controls
      .span2= form.input :weight, :input_html=>{:class=>'input-mini'}
      .span2= form.input :height, :input_html=>{:class=>'input-mini'}
      .span2= form.input :head_circ, :input_html=>{:class=>'input-mini'}
      .span2= form.input :mid_arm_circ, :input_html=>{:class=>'input-mini'}
    .controls-row.controls
      .span2= form.input :temperature, :input_html=>{:class=>'input-mini'}
      .span2= form.input :heart_rate, :input_html=>{:class=>'input-mini'}
      .span2= form.input :resp_rate , :input_html=>{:class=>'input-mini'}
      .span2= form.input :sbp, label: 'SBP' , :input_html=>{:class=>'input-mini'}
      .span2= form.input :dbp, label: 'DBP' , :input_html=>{:class=>'input-mini'}

  %fieldset
    %legend History
    .controls-row.controls
      .span8= form.input :hpi, label: "History of present illness",
        input_html: {rows: '1', class: "input-block-level"}
    %h4 Signs and Symptoms
    .controls-row.controls
      .span10= check_boxes(@visit, :symptoms, 3)
    .controls-row.controls
      .span6= form.input :other_symptoms, input_html: { class: "input-block-level"}

  %fieldset
    %legend Physical Exam
    %p.form_instruction Tick box if this part of exam is normal.
    = check_boxes(@visit, :physical)
    .controls
      .span6= form.input :phys_exam, input_html: {rows: '1', class: "input-block-level"}
  %fieldset
    %legend Assessment and Diagnosis
    .controls-row.controls
      = check_boxes(@visit, :diagnoses)
    .controls-row.controls
      .span6= form.input :dx, label: 'Other diagnoses', :input_html=>{:class=>'input-xlarge'}
      .span4= form.input :newdx, label: 'New diagnosis given?', :input_html=>{:class=>'input-mini'}
    .controls-row.controls
      .span2= form.input :assessment_stable, label: "Stable", :input_html=>{:class=>'input-mini'}
      .span2= form.input :assessment_oi, label: "Active OI", :input_html=>{:class=>'input-mini'}
      .span2= form.input :assessment_drug_toxicity, label: "Drug toxicity", :input_html=>{:class=>'input-mini'}
      .span2= form.input :assessment_nonadherence, label: "Nonadherence", :input_html=>{:class=>'input-mini'}
    .controls-row.controls
      .span8= form.input :assessment, input_html: {rows: '1', class: "input-block-level"}
  %fieldset
    %legend Other
    .controls-row.controls
      .span6= form.input :development, input_html: {rows: '1', class: "input-block-level"}
    .controls-row.controls
      .span2= form.input :diet_breast, label: 'Breast', :input_html=>{:class=>'input-mini'}
      .span2= form.input :diet_breastmilk_substitute, label: 'Breast subst.' , :input_html=>{:class=>'input-mini'}
      .span2= form.input :diet_pap, label: 'Pap', :input_html=>{:class=>'input-mini'}
      .span2= form.input :diet_solids, label: 'Solids', :input_html=>{:class=>'input-mini'}
    .controls-row.controls
      .span4= form.input :meds
      .span4= form.input :comments
      .span2= form.input :anti_tb_status, label: 'Anti-TB status'
  %fieldset
    %legend HIV related
    .controls-row.controls
      .span2= form.input :hiv_stage, :input_html=>{:class=>'input-mini'}
      .span2= form.input :arv_status, :input_html=>{:class=>'input-mini'}
      .span2= form.input :arv_missed, :input_html=>{:class=>'input-mini'}
      .span3= form.input :arv_missed_week, label: 'ARV missed weeks', :input_html=>{:class=>'input-mini'}
    .controls-row.controls
      .span12= render(:partial => 'arv_regimen', object: @visit )
  %fieldset
    %legend Plan
    .controls-row.controls
      .span6= form.input :plan, input_html: {rows: '1', class: "input-block-level"}
      .span6= form.input :next_visit, as: :string, label: 'Next visit (add js buttons to give choices)'

  %hr

  = form.error :base
  = form.submit
  = link_to "Cancel", request.referer


