- visit = visit_summary
- return if visit_summary.nil?
= link_to visit_path(visit)
= show_val(show_vars(visit,'sx_'), 'suppress', 'visit_detail', 'Sx/prob: ', '.', 'v_det_lbl')
= show_val(visit.hpi,'suppress','visit_detail','HPI: ','.', 'v_det_lbl')
= show_val(visit.weight, 'suppress', 'visit_detail', 'Wt: ', ' kg.', 'v_det_lbl')
= show_val(visit.temperature, 'suppress', 'visit_detail', 'T: ', 'C.', 'v_det_lbl')
= show_pe_findings(visit)
= show_val(visit.development, 'suppress', 'visit_detail', 'Development: ', '.', 'v_det_lbl')
= show_val(concat_list([visit.dx, visit.dx2, visit.comments, visit.assessment]), |
  'suppress', 'visit_detail', 'Dx: ','', 'v_det_lbl')                                    |
= show_val(visit.plan, 'suppress', 'visit_detail', 'Plan: ', '.', 'v_det_lbl')
= show_val(visit.arv_reg_str, 'suppress', 'visit_detail', 'ARV: ', '.', 'v_det_lbl')
= show_val(visit.meds, 'suppress', 'visit_detail', 'Meds: ', '.', 'v_det_lbl')