- @visit ||= @record
- patient = @visit.patient
%h2= "Visit for #{patient_name_link(patient)} on #{@visit.date}".html_safe
.row-fluid
  %p.span6= "Provider: #{@record.provider}"
  %p.span6#diagnoses
    = render "diagnoses"
.row-fluid
  %p.span6#history
    History:
    = render "history"
  %p.span6#exam
    Exam:
    = render "physical_exam"
.row-fluid
  %p.span6#labs
    Labs at this visit:
    = visit_labs(@visit)
.row-fluid
  %p.span6#hiv
    HIV status:
    = hiv_status_summary(@visit)
.row-fluid
  %p.span6#drugs
    Drugs prescribed:
    = visit_drugs(@visit)
  %p.span6#plan
    Other planned treatment:
    = @visit.plan
