- @visit ||= @record
- patient = @visit.patient
%h2= "Visit for #{patient_name_link(patient)} on #{@visit.date}".html_safe
%p= "Provider: #{@record.provider}"
%p#diagnoses
  = render "diagnoses"
%p#hpi
  History:
  = render "history"
%p#exam
  Exam:
  = render "physical_exam"
