.row-fluid
  = simple_fields_for @record do |form|
    .span3
      = patient_name_link(@record.patient)
      = form.input :patient_id, as: :hidden
    .span3
      = form.input :date, as: :string
    .span3
      = form.input :provider
%hr