- @patient = @record
-#= "Record = #{@record.attributes}"
= simple_fields_for @patient do |form|
  = form.input :last_name
  = form.input :first_name
  = form.input :other_names
  = form.input :ident
  = form.input :birth_date, as: :string
  = form.input :birth_date_exact
  = form.input :death_date, as: :string



