- @patient = @record
-#= "Record = #{@record.attributes}"
= simple_fields_for(@patient, :html => {:class => 'form-horizontal' }) do |form|
  = form.error_notification
  .row-fluid
    .span2
      = form.input :last_name, :input_html => {class: :span12 }
    .span2
      = form.input :first_name, :input_html => {class: :span12 }
    .span2
      = form.input :other_names,  :input_html => {class: :span12 }
    .span2
      = form.input :sex, as: :radio_buttons, collection: [['Male', 'M'],['Female', 'F']], label_html: {class: :inline}
  .row-fluid
    .span2
      = form.input :ident,  :input_html => {class: :span12 }
  .row-fluid
    .span2
      = form.input :birth_date, as: :string,  :input_html => {class: :span12 }
    .span2
      = form.input :birth_date_exact, label: "Exact birth date?"
    .span2
      = form.input :death_date, as: :string,  :input_html => {class: :span12 }
  .row-fluid
    .span4
      = form.input :residence, as: :string ,  :input_html => {class: :span12 }
    .span2
      = form.input :phone, as: :tel,  :input_html => {class: :span12 }
    .span2
      = form.input :caregiver,  :input_html => {class: :span12 }
  = form.error :base



