!!!
%html
  %head
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    %title PtBase
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = csrf_meta_tags
  %body
    .container-fluid
      .row-fluid
        .span2
          = render(:partial => '/shared/patient_menu', :object => @patient)
        .span10
          %p.notice= notice
          %p.alert= alert
          = yield
          = link_to 'Sign out', destroy_user_session_path, :method=> :delete